:root {
  --color-primary: #ff4500;
  --color-secondary: #00ff45;
  --color-tertiary: #00baff;
  --color-quaternary: #ff00ba;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-dark: #808080;
  --color-grey-light: #d3d3d3;
  --color-twitter: #1da1f2;
  --color-facebook: #4267b2;
  --color-skype: #00aff0;
  --color-linkedin: #2867b2;
  --font-size-large: 5rem;
  --font-size-medium-large: 4rem;
  --font-size-medium: 3rem;
  --font-size-medium-small: 2.5rem;
  --font-size-small: 2rem;
  --font-size-smallest: 1.5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 50%; }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 62.5%; } }

::selection {
  background-color: var(--color-primary);
  color: var(--color-white); }

body {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400; }

.heading-large {
  font-size: var(--font-size-large);
  font-weight: 700; }

.heading-medium {
  font-size: var(--font-size-medium);
  font-weight: 600; }

.heading-small {
  font-size: var(--font-size-small);
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-colored {
  color: var(--color-primary); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 50em) {
    .header {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.9); } }

.motto-container {
  height: 100vh;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.2) 35%), url(../img/photo-of-person-running-on-dirt-road-1526790.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.welcome {
  padding: 2rem; }

.services {
  background-color: var(--color-grey-light); }
  .services__heading {
    text-align: center;
    margin-bottom: 2rem; }

.about__heading {
  text-align: center;
  margin: 0 5vw; }
  .about__heading-main {
    font-size: var(--font-size-medium-large); }
  .about__heading-sub {
    font-size: var(--font-size-medium-small); }

.about-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.team__heading {
  text-align: center;
  margin: 0 5vw; }
  .team__heading-main {
    font-size: var(--font-size-medium-large); }
  .team__heading-sub {
    font-size: var(--font-size-medium); }

.team-members {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.contact {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: var(--font-size-small);
  padding: 2rem; }
  .contact-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
  .contact-form {
    flex-basis: 100%;
    padding: 2rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .contact-form__name, .contact-form__email {
      display: block;
      height: 4rem;
      padding-left: 1rem; }
    .contact-form__textarea {
      font-family: inherit;
      padding-left: 1rem; }
  .contact__heading {
    margin: 0 5vw;
    font-size: var(--font-size-medium);
    text-align: center; }
  .contact-about {
    flex-basis: 100%;
    padding: 2rem; }
    .contact-about__text {
      margin-bottom: 1rem; }
    .contact-about__list {
      list-style: none; }
    .contact-about__link {
      display: flex;
      align-items: center; }
    .contact-about__link:link, .contact-about__link:visited {
      color: var(--color-white);
      text-decoration: none; }
    .contact-about__icon {
      height: 2.5rem;
      width: 2.5rem;
      fill: var(--color-white); }

.nav__list {
  list-style: none;
  display: none;
  font-size: var(--font-size-medium); }
  @media only screen and (min-width: 50em) {
    .nav__list {
      display: flex;
      flex-direction: row;
      margin-right: 5vw; } }

.nav__menu-toggle:checked ~ .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-black);
  font-size: var(--font-size-medium-large); }

.nav__link:link, .nav__link:visited {
  color: var(--color-white);
  text-decoration: none; }

.nav__item {
  padding: 1vw;
  transition: all 0.1s; }

.nav__item:hover {
  transform: translateY(-2px); }

.nav__item:hover > .nav__link {
  color: var(--color-primary); }

.nav__menu-toggle {
  display: none; }

.nav__menu-button {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
  z-index: 1000; }
  @media only screen and (min-width: 50em) {
    .nav__menu-button {
      display: none; } }

.nav__menu-icon, .nav__menu-icon::before, .nav__menu-icon::after {
  width: 3rem;
  height: 2px;
  background-color: var(--color-white);
  display: block;
  position: absolute; }

.nav__menu-icon::before, .nav__menu-icon::after {
  content: "";
  position: absolute;
  transition: all 0.1s; }

.nav__menu-icon::before {
  top: -1rem; }

.nav__menu-icon::after {
  top: 1rem; }

.nav__menu-toggle:checked + .nav__menu-button > .nav__menu-icon {
  background-color: transparent; }

.nav__menu-toggle:checked + .nav__menu-button > .nav__menu-icon::before {
  top: 0;
  transform: rotate(135deg); }

.nav__menu-toggle:checked + .nav__menu-button > .nav__menu-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.logo {
  display: flex;
  width: 20rem;
  height: 100%;
  margin-left: 2rem;
  margin-right: auto;
  align-items: center;
  justify-content: center; }
  .logo__icon {
    height: 4rem;
    width: 4rem;
    flex-shrink: 0;
    margin-right: 1rem;
    fill: var(--color-white); }
  .logo__name {
    display: inline-block;
    color: var(--color-white);
    font-size: var(--font-size-medium-large); }

.motto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  margin: 0 25vw;
  justify-content: space-evenly;
  color: var(--color-white); }
  .motto__addressee {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--font-size-large); }
  .motto__text {
    text-align: center;
    font-weight: 500;
    font-size: var(--font-size-medium); }

.btn {
  font-family: inherit;
  text-transform: uppercase;
  width: 15rem;
  height: 5rem;
  border: 0;
  color: var(--color-white);
  font-size: var(--font-size-small);
  transition: all 0.2s; }
  .btn--transparent {
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid var(--color-white);
    font-size: var(--font-size-medium-small);
    font-weight: 600;
    width: 20rem;
    height: 6rem; }
    .btn--transparent:hover {
      color: var(--color-black);
      background-color: var(--color-white);
      transform: translateY(-2px); }
  .btn--main {
    background-color: var(--color-primary); }
    .btn--main:hover {
      background-color: var(--color-secondary); }

.welcome {
  padding: 2rem;
  text-align: center; }
  .welcome__heading {
    font-weight: 500;
    margin: 0 2rem;
    margin-bottom: 1rem; }
  .welcome__text {
    font-size: var(--font-size-small); }

.service {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: auto;
  align-items: center; }
  .service__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-primary); }
    .service__icon-box {
      justify-self: center;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      height: 6rem;
      width: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--color-grey-dark);
      border-radius: 100%; }
  .service__heading {
    grid-column: 2 / -1;
    grid-row: 1 / span 1; }
  .service__description {
    grid-column: 2 / -1;
    grid-row: 2 / span 1;
    font-size: var(--font-size-small);
    color: var(--color-grey-dark);
    margin-right: 1rem; }

.about-card {
  flex-basis: 100%;
  margin: 2rem;
  font-size: var(--font-size-small); }
  .about-card__img {
    width: 100%;
    height: auto; }
  .about-card__paragraph, .about-card__heading-secondary {
    margin-bottom: 1rem; }
  .about-card__list {
    list-style: none;
    font-size: var(--font-size-small);
    margin-left: 2rem; }
    .about-card__list-item {
      display: block;
      margin-bottom: 0.5rem; }
      .about-card__list-item::before {
        content: "\27A1";
        color: var(--color-primary);
        font-size: var(--font-size-small);
        margin-left: -2rem;
        margin-right: 1rem; }

.team-member {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  padding: 2rem; }
  .team-member__photo {
    width: 100%;
    height: auto; }
  .team-member__name, .team-member__position {
    margin: 1rem 0;
    font-size: var(--font-size-medium); }
  .team-member__name {
    font-weight: 700; }
  .team-member__links {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .team-member__link {
    display: flex;
    justify-content: center;
    width: 49.8%;
    height: 6rem;
    background-color: var(--color-grey-light);
    transition: all 0.1s; }
    .team-member__link--twitter {
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem; }
      .team-member__link--twitter:hover {
        background-color: var(--color-twitter); }
    .team-member__link--facebook {
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem; }
      .team-member__link--facebook:hover {
        background-color: var(--color-facebook); }
    .team-member__link:hover {
      transform: translateY(-2px); }
  .team-member__link:hover > .team-member__icon {
    fill: var(--color-white); }
  .team-member__icon {
    width: 4rem;
    height: auto;
    fill: var(--color-grey-dark); }

.accordion__item {
  width: 100%;
  color: var(--color-black);
  overflow: hidden; }
  .accordion__item-label {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: var(--color-white);
    cursor: pointer; }
    .accordion__item-label:hover {
      color: var(--color-quaternary); }
    .accordion__item-label::after {
      content: "\229E"; }
  .accordion__item-content {
    max-height: 0;
    padding: 0 1rem;
    color: var(--color-black);
    background: var(--color-white);
    transition: all 0.35s; }
  .accordion__item-close {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: var(--font-size-small);
    background: va(--color-white);
    cursor: pointer; }
    .accordion__item-close:hover {
      color: var(--color-quaternary); }
  .accordion__item-radio {
    position: absolute;
    opacity: 0;
    z-index: -1; }

.accordion__item-radio:checked + .accordion__item-label {
  background: var(--color-grey-light); }
  .accordion__item-radio:checked + .accordion__item-label::after {
    content: "\229F"; }

.accordion__item-radio:checked ~ .accordion__item-content {
  max-height: 100vh;
  padding: 1em; }

.social {
  display: flex;
  flex-direction: row; }
  .social__item {
    display: inline-block;
    margin: 1rem; }
  .social__link {
    display: flex;
    height: 6rem;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-white);
    border-radius: 50%; }
  .social__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-white); }
  .social__link:hover > .social__icon--facebook {
    fill: var(--color-facebook); }
  .social__link:hover > .social__icon--twitter {
    fill: var(--color-twitter); }
  .social__link:hover > .social__icon--skype {
    fill: var(--color-skype); }
  .social__link:hover > .social__icon--linkedin {
    fill: var(--color-linkedin); }
