.about-card {
  flex-basis: 100%;
  // margin: 2rem;
  font-size: var(--font-size-small);
  @media only screen and (min-width: $bp-medium) {
    flex-basis: 46%;
    margin: 2%;
  }
  & > * {
    margin-bottom: 1rem;
  }
  &__img {
    width: 100%;
    height: auto;
  }

  &__list {
    list-style: none;
    font-size: var(--font-size-small);
    margin-left: 2rem;

    &-item {
      display: block;
      margin-bottom: 0.5rem;

      &::before {
        content: "\27A1";
        color: var(--color-primary);
        font-size: var(--font-size-small);
        margin-left: -2rem;
        margin-right: 1rem;
      }
    }
  }
}
