.logo {
  display: flex;
  width: 15rem;
  height: 100%;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;

  &__icon {
    height: 4rem;
    width: 4rem;
    flex-shrink: 0;
    margin-right: 1rem;
    fill: var(--color-white);
  }

  &__name {
    display: inline-block;
    color: var(--color-white);
  }
}
