.logo {
  display: flex;
  width: 20rem;
  height: 100%;
  margin-left: 2rem;
  margin-right: auto;
  align-items: center;
  justify-content: center;

  &__icon {
    height: 4rem;
    width: 4rem;
    flex-shrink: 0;
    margin-right: 1rem;
    fill: var(--color-white);
  }

  &__name {
    display: inline-block;
    color: var(--color-white);
    font-size: var(--font-size-medium-large);
  }
}
