.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    width: 75%;
    height: 90%;
    background-color: var(--color-white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;

    @media only screen and (min-width: $bp-medium) {
      width: 50%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: 10%;
    background-color: var(--color-grey-light);
  }

  &__title {
    margin-left: 1rem;
    margin-right: auto;
    font-size: var(--font-size-medium);
  }

  &__close {
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: var(--font-size-large);
    font-weight: 900;
  }

  &__close:link,
  &__close:visited {
    color: var(--color-grey-dark);
    text-decoration: none;
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__close {
    text-decoration: none;
  }

  &__description {
    font-size: var(--font-size-medium-small);
    margin: 1rem;
  }

  &__text {
    font-size: var(--font-size-small);
    margin: 1rem;
  }
}
