.motto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  margin: 0 25vw;
  justify-content: space-evenly;
  color: var(--color-white);

  &__addressee {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--font-size-large);
  }

  &__text {
    text-align: center;
    font-weight: 500;
    font-size: var(--font-size-medium);
  }
}
