.portfolio {
  overflow: hidden;
  background-color: var(--color-grey-light);

  &__label {
    display: block;
    width: 96%;
    border: 2px solid var(--color-grey-dark);
    padding: 1rem;
    margin: 1rem 2%;
    font-size: var(--font-size-small);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    @media only screen and (min-width: $bp-medium) {
      display: inline-block;
      width: auto;
      margin: 0;
      margin-left: 1%;
    }
  }

  &__select:checked + &__label {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
  }

  &__item {
    flex-basis: 46%;
    position: relative;
    margin: 2%;
    right: 0px;
    transition: all 0.5s;

    @media only screen and (min-width: $bp-medium) {
      flex-basis: 23%;
      position: relative;
      margin: 1%;
    }
  }

  &__img {
    display: block;
    width: 100%;
    position: relative;
  }

  &__caption {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

    @media only screen and (min-width: $bp-medium) {
      font-size: 2vw;
    }
  }

  &__overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--color-primary-dec), 0.8);
    transition: all 0.3s;

    &-icon {
      fill: var(--color-white);
      height: 25%;
    }
  }

  &__link:hover > &__overlay {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--color-primary-dec), 0.5);
  }

  &__select {
    display: none;
  }

  &__link {
    display: block;
    cursor: pointer;
  }

  #web:checked ~ &__list > &__item:not([data-category="web"]),
  #app:checked ~ &__list > &__item:not([data-category="app"]),
  #mobile:checked ~ &__list > &__item:not([data-category="mobile"]) {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    flex-basis: 0%;
  }
}
