.portfolio {
  overflow: hidden;
  position: relative;
  font-size: var(--font-size-small);
  padding: 1rem;
  &__label {
    display: block;
    width: 100%;
    border: 2px solid var(--color-grey-dark);
    padding: 1rem;
    margin: 1rem;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &__select:checked + &__label {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
  }

  &__item {
    flex-basis: 50%;
    position: relative;
    padding: 1rem;
    right: 0px;
    transition: all 0.3s;
  }

  &__img {
    max-width: 100%;
  }

  &__select {
    display: none;
  }

  &__link {
    display: block;
  }

  #web:checked ~ &__list &__item:not(&__item--web),
  #app:checked ~ &__list &__item:not(&__item--app),
  #mobile:checked ~ &__list &__item:not(&__item--mobile) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    right: -50%;
  }

  #web:checked [cat="web"] {
    display: none;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    width: 75%;
    height: 75%;
    background-color: var(--color-white);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    max-width: 100%;
  }

  &__close {
    text-decoration: none;
  }
}
