.team-member {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  padding: 2rem;

  @media only screen and (min-width: $bp-large) {
    flex-basis: 25%;
  }

  &__photo {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  &__position {
    font-size: var(--font-size-medium-small);
  }

  &__name {
    font-weight: 700;
    font-size: var(--font-size-medium);
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.5%;
    height: 4rem;
    background-color: var(--color-grey-light);
    transition: all 0.1s;

    &--twitter {
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
      &:hover {
        background-color: var(--color-twitter);
      }
    }

    &--facebook {
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;
      &:hover {
        background-color: var(--color-facebook);
      }
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__link:hover > &__icon {
    fill: var(--color-white);
  }

  &__icon {
    width: auto;
    height: 60%;
    fill: var(--color-grey-dark);
  }
}
