:root {
  --color-primary: #ff4500;
  --color-primary-dec: 255, 69, 0;
  --color-secondary: #00ff45;
  --color-tertiary: #00baff;
  --color-quaternary: #ff00ba;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-dark: #808080;
  --color-grey-light: #d3d3d3;

  --color-twitter: #1da1f2;
  --color-facebook: #4267b2;
  --color-skype: #00aff0;
  --color-linkedin: #2867b2;

  --font-size-large: 5rem;
  --font-size-medium-large: 4rem;
  --font-size-medium: 3rem;
  --font-size-medium-small: 2.5rem;
  --font-size-small: 2rem;
  --font-size-smallest: 1.5rem;
}

$bp-largest: 80em; // 1200px
$bp-large: 65em; // 1040px
$bp-medium: 48em; // 768px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (min-width: $bp-small) {
    font-size: 62.5%;
  }
}

a:focus {
  outline: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
