body {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
}

.section-heading {
  text-align: center;
  margin-bottom: 3rem;

  & > :last-child {
    font-size: var(--font-size-medium-small);
  }

  & > :first-child {
    font-size: var(--font-size-medium-large);
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}

.heading-large {
  font-size: var(--font-size-large);
  font-weight: 700;
}

.heading-medium {
  font-size: var(--font-size-medium);
  font-weight: 600;
}

.heading-small {
  font-size: var(--font-size-small);
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-colored {
  color: var(--color-primary);
}
